.image{
  background-size: cover;
  background-image: url("../images/1.PNG");
  height: 25rem;
  border-radius: 10px;
}
.container{
  width: 20%;
  padding: 12px 0px 12px 0px;
  border-radius: 5px;
  margin: 5rem 0 5rem 0;
  background-color: #C3F8FF;
  color: black;
}
label{
  font-size: 2rem;
}
input{
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  width: 35%;
  background-color: #C3F8FF;
  height: 3rem;
  font-size: 2rem;

}

body{
  background-color:#16213E ;
  font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Ubuntu Mono', monospace;
}
.s{
  padding: 5px;
}
